<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html, charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/page">Home</a></li>
					<li><a href="/lista">List</a></li>
					<li class="active"><a href="#">Search</a></li>
					<li><a href="/update">Add</a></li>
					<li><a href="/getpeople">Sample</a></li>
					<li><a href="/greeting">Greeting</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
	<h1>Search</h1>
    <form action="#" th:action="@{/form}" th:object="${mobile}" method="post">
    	<p>Looking: <input type="text" th:field="*{model}" value="G2Mini"/>
        <input type="submit" name="submit" value="Submit" /> 
        <span class="glyphicon glyphicon-search"></span>
           <!-- input type="reset" value="Reset" /--></p>
    </form>
    </div>
</body>
</html>